<footer>
	<section>
		<ul>
			<li><%= link_to 'Tax Information', blogs_path %></li>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			
		</ul>

		<aside>
			<%= link_to 'E.U.L.A', eula_path %>
			<%= link_to 'Privacy Policy', privacy_path %>
		</aside>
	</section>

	<p><sup>&copy;</sup> 2014 <%= link_to 'Name-Of-Our-Company', root_path %><sup>&reg;</sup></p>

</footer>
